@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
body {
  font-family: 'Noto Sans TC', sans-serif;
  color: #444444;
  background-color: #fff2ee;
}

a {
  text-decoration: none;
  color: #444444;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input, button {
  border: 0;
  background-color: transparent;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 50px;
  z-index: 100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .container {
  padding: 0;
}

.header ul li a {
  font-size: 18px;
  color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 20px 15px;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.header ul li a.active, .header ul li a:hover {
  background-color: #fff;
  color: #fb7b55;
  font-weight: 500;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}

.header_menu {
  width: 30px;
  height: 23px;
  position: relative;
}

.header_menu .bar {
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  left: 0;
}

.header_menu .bar.top {
  top: 0;
}

.header_menu .bar.middle {
  top: calc(50% - 2px);
}

.header_menu .bar.bottom {
  bottom: 0;
}

.header_menu.active .bar {
  top: 50%;
  left: 50%;
}

.header_menu.active .bar.top, .header_menu.active .bar.middle {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.header_menu.active .bar.bottom {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.header.scroll {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 0 15px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.header.scroll ul li a {
  color: #444444;
  text-shadow: none;
}

.header.scroll ul li a.active, .header.scroll ul li a:hover {
  color: #fb7b55;
}

@media screen and (max-width: 991px) {
  .header {
    top: 30px;
    right: 30px;
    padding-right: 0;
  }
  .header .container {
    position: relative;
  }
  .header .container nav {
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    max-width: 500px;
    width: calc(100vw - 60px);
    -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.16);
            box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.16);
    background-color: #fffbf0;
    border-radius: 20px;
    padding: 20px;
    display: none;
  }
  .header .container nav ul li a {
    color: #444444;
    text-align: center;
    border-radius: 15px;
    padding: 15px;
  }
  .header .container nav ul li a.active {
    background-color: #fb7b55;
    color: #fff;
  }
}

.home {
  position: relative;
}

.home .join-num {
  position: absolute;
  color: #fff;
  font-size: 22px;
  margin: 0;
  right: 40px;
  bottom: 15px;
  text-align: right;
}

.home_main {
  position: absolute;
  left: 50%;
  top: 4.58vw;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.home_main_pic {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.home_main .btn-join {
  display: block;
  margin: 30px auto 0;
  padding: 8px 100px 10px;
  border-radius: 100px;
  background: -webkit-gradient(linear, left bottom, left top, from(#f2393e), to(#e81a31));
  background: linear-gradient(to top, #f2393e 0%, #e81a31 100%);
  border: 3px solid #ffdc8f;
  font-size: 44px;
  color: #fff;
  font-weight: 500;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.15);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0 8px 0 #d1272d;
          box-shadow: 0 8px 0 #d1272d;
}

.home_inform {
  margin-top: -3vw;
}

.home_inform li {
  margin: 0 10px;
  padding: 5px 30px 8px;
  border-radius: 100px;
  border: 3px solid #ffdc8f;
  -webkit-box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.26) inset;
          box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.26) inset;
  background: -webkit-gradient(linear, left bottom, left top, from(#f29a2d), to(#ff6000));
  background: linear-gradient(to top, #f29a2d 0%, #ff6000 100%);
  position: relative;
}

.home_inform li span {
  font-size: 30px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.home_inform li::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100px;
  -webkit-box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.09);
  top: 0;
  left: 0;
}

.home_inform_title {
  color: #ffeabc;
  margin-right: 15px;
  font-weight: 500;
}

.home_inform_date {
  font-weight: 600;
  color: #fff;
}

@media screen and (max-width: 1600px) {
  .home_main {
    top: 3vw;
  }
}

@media screen and (max-width: 1400px) {
  .home_inform li span {
    font-size: 26px;
  }
  .home_main .btn-join {
    font-size: 40px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .home_inform li span {
    font-size: 24px;
  }
  .home_main {
    top: 2vw;
  }
  .home_main .btn-join {
    font-size: 36px;
    padding: 5px 100px 8px;
  }
}

@media screen and (max-width: 1100px) {
  .home_main {
    top: 1vw;
  }
}

@media screen and (max-width: 991px) {
  .home_inform li span {
    font-size: 22px;
  }
  .home_main {
    top: 15vw;
  }
  .home_main_pic {
    width: 95%;
  }
  .home_main .btn-join {
    font-size: 32px;
  }
  .home .join-num {
    position: static;
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .home_inform li span {
    font-size: 18px;
  }
  .home_main {
    top: 5vw;
  }
  .home_main_pic {
    width: 95%;
  }
  .home_main .btn-join {
    font-size: 28px;
  }
}

@media screen and (max-width: 575px) {
  .home_main_pic {
    width: 100%;
  }
  .home_inform li {
    margin: 10px auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media screen and (max-width: 450px) {
  .home_main {
    top: 2vw;
  }
  .home_main .btn-join {
    width: 90%;
    padding: 5px 10px 8px;
  }
  .home_inform {
    margin-top: -15vw;
  }
  .home_inform li {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home_inform li span {
    font-size: 22px;
  }
}

@media screen and (max-width: 360px) {
  .home .join-num {
    margin-top: 15px;
    font-size: 16px;
  }
  .home_main {
    top: -3vw;
  }
  .home_main .btn-join {
    font-size: 24px;
  }
  .home_inform li span {
    font-size: 20px;
  }
}

.modal-common .modal-content {
  border: 15px solid #f8834f;
  background-color: #fffbf0;
  border-radius: 30px;
  position: relative;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.modal-common .modal-content::before {
  position: absolute;
  content: "";
  width: 95%;
  padding-bottom: calc(95% * 0.3756);
  background-image: url(../img/popup_gift.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 50%;
  bottom: calc(100% + 15px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal-common .modal-dialog {
  max-width: 650px;
  margin-top: 250px;
}

.modal-common .modal-body {
  padding: 40px 25px 80px;
}

.modal-common_title {
  text-align: center;
  color: #e86023;
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 30px;
}

@media screen and (max-width: 575px) {
  .modal-common .modal-dialog {
    margin-top: 150px;
  }
  .modal-common .modal-content {
    border: 10px solid #f8834f;
  }
  .modal-common .modal-content::before {
    bottom: calc(100% + 10px);
  }
  .modal-common .modal-body {
    padding-left: 15px;
    padding-right: 15px;
  }
  .modal-common_title {
    font-size: 42px;
  }
}

.modal_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.modal_input label {
  font-size: 24px;
  color: #995300;
  display: block;
  width: 85px;
}

.modal_input input {
  width: calc(100% - 85px);
  background-color: #ffe8c6;
  height: 45px;
  border-radius: 100px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1) inset;
  font-size: 18px;
  font-family: 'lato';
}

.modal_input-num .unit {
  font-size: 24px;
  color: #995300;
  display: block;
  text-align: right;
  margin-left: 15px;
}

.modal_input-num_inner {
  width: calc(100% - 85px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal_input-num_content {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffe8c6;
  height: 45px;
  border-radius: 100px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1) inset;
  padding: 0 7px;
}

.modal_input-num_content input {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 100%;
  border-radius: 0;
  width: calc(100% - 70px);
  text-align: center;
}

.modal_input-num_btn {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(45deg, #f8cc58 0%, #f39709 100%);
  -webkit-box-shadow: 3px 3px 1px #a97623;
          box-shadow: 3px 3px 1px #a97623;
  border-radius: 50%;
}

.modal_input-num_btn img {
  width: 60%;
}

@media screen and (max-width: 575px) {
  .modal_input label {
    font-size: 20px;
    width: 75px;
  }
  .modal_input input {
    width: calc(100% - 75px);
  }
  .modal_input-num .unit {
    font-size: 20px;
    margin-left: 10px;
  }
  .modal_input-num_content {
    width: calc(100% - 20px - 10px);
  }
}

.modal_list li {
  padding-left: 25px;
  color: #583000;
  font-size: 16px;
  position: relative;
  margin-bottom: 10px;
}

.modal_list li:last-child {
  margin-bottom: 0;
}

.modal_list li::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 19px;
  background-image: url(../img/list_style.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 3px;
  left: 0;
}

.modal_send {
  position: absolute;
  padding: 12px 80px;
  border-radius: 100px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffb974), to(#f8834f));
  background: linear-gradient(to top, #ffb974 0%, #f8834f 100%);
  border: 3px solid #ffc850;
  -webkit-box-shadow: 0 5px 0 #fb7f37;
          box-shadow: 0 5px 0 #fb7f37;
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.15);
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  white-space: nowrap;
}

@media screen and (max-width: 575px) {
  .modal_send {
    font-size: 32px;
    padding: 10px 80px;
  }
}

.modal_close {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: -80px;
}

.modal_close img {
  width: 60%;
}

@media screen and (max-width: 991px) {
  .modal_close {
    top: -80px;
    right: 0;
  }
}

.modal_smallBtn {
  position: absolute;
  color: #fff;
  font-size: 18px;
  padding: 8px 15px;
  border-radius: 10px;
  border: 1px solid #fff;
  left: 50%;
  bottom: -140px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal_icon {
  display: block;
  margin: 0 auto;
  width: 100px;
}

.modal-pay_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.modal-pay_pic {
  width: 200px;
  padding-bottom: calc(200px * 0.7);
  position: relative;
}

.modal-pay_pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.modal-pay_text {
  padding-left: 15px;
}

.modal-pay_text h3 {
  margin: 0 0 15px;
  font-size: 28px;
  font-weight: 600;
}

.modal-pay_text p {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 600;
}

@media screen and (max-width: 450px) {
  .modal-pay_info {
    display: block;
  }
  .modal-pay_pic {
    margin: 0 auto 15px;
  }
  .modal-pay_text {
    text-align: center;
  }
}

.payMoney h4 {
  margin: 0;
  margin-right: 10px;
  font-size: 18px;
}

.payMoney img {
  width: 40px;
  margin-right: 10px;
}

.payMoney span {
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #e44d18;
}

#modal-password .modal_input label {
  width: 120px;
}

#modal-password .modal_input input {
  width: calc(100% - 120px);
}

@media screen and (max-width: 575px) {
  #modal-password .modal_input label {
    width: 100px;
  }
  #modal-password .modal_input input {
    width: calc(100% - 100px);
  }
}

.animation {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 300;
  background-color: #FEDD72;
  display: none;
}

.animation_content {
  margin: 0 auto;
  position: relative;
}

.animation_content::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  left: -2px;
  top: 0;
  background-color: #FEDD72;
  z-index: 1;
}

.animation_content::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  right: -2px;
  top: 0;
  background-color: #FEDD72;
}

.animation_inner {
  position: relative;
}

.animation_inner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  left: 0;
  top: -2px;
  background-color: #FEDD72;
}

.animation video {
  max-width: 800px;
  width: 100%;
}

.lottery_notify {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 50px;
  z-index: 350;
  border: 15px solid #f8834f;
  background-color: #fffbf0;
  border-radius: 30px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  display: none;
  max-width: 430px;
  width: 100%;
}

.lottery_notify p {
  font-size: 20px;
}

.lottery_notify button {
  padding: 8px 60px;
  border-radius: 100px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffb974), to(#f8834f));
  background: linear-gradient(to top, #ffb974 0%, #f8834f 100%);
  border: 3px solid #ffc850;
  -webkit-box-shadow: 0 5px 0 #fb7f37;
          box-shadow: 0 5px 0 #fb7f37;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.15);
  margin: 40px auto 0;
  display: block;
}

@media screen and (max-width: 450px) {
  .lottery_notify {
    padding: 50px 30px;
  }
}

.banner-pic {
  position: relative;
  width: 100%;
  padding-bottom: 33%;
  margin-bottom: 40px;
}

.banner-pic img {
  position: absolute;
}

.banner-pic_main {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.banner-pic_style {
  width: 100%;
  left: 0;
  bottom: -1px;
}

@media screen and (max-width: 767px) {
  .banner-pic {
    padding-bottom: 100%;
  }
}

.banner-text {
  padding: 7vw 0;
  background-image: url(../img/banner-introduce.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

.banner-text .container {
  max-width: 1000px;
}

.banner-text h1 {
  font-size: 80px;
  font-weight: 600;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
}

@media screen and (max-width: 767px) {
  .banner-text {
    padding: 20vw 0;
    background-image: url(../img/banner-introduce-m.png);
  }
  .banner-text h1 {
    font-size: 50px;
    text-align: center;
  }
}

.banner-member {
  padding: 9.58vw 0;
  background-image: url(../img/member-banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.banner-member_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-member_pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 5px solid #fdcf3c;
}

.banner-member_pic_main {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.banner-member_form {
  padding-left: 60px;
  padding-top: 30px;
  width: 530px;
}

.banner-member_form button {
  display: block;
  margin-left: auto;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  padding: 5px 50px 8px;
  border-radius: 100px;
  background-color: #fb7f37;
  border: 2px solid #fff;
}

.banner-member_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.banner-member_input label {
  font-size: 22px;
  color: #fff;
  width: 60px;
}

.banner-member_input input {
  width: calc(calc(100% - 60px));
  height: 45px;
  background-color: #fff;
  border-radius: 100px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1) inset;
  padding: 5px 10px;
}

.banner-member_edit {
  padding-top: 30px;
}

.banner-member_money {
  position: relative;
  padding: 3px 20px 3px 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fff;
  border: 2px solid #f77548;
  border-radius: 15px;
  margin-left: auto;
  margin-bottom: 30px;
}

.banner-member_money span {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: #f77548;
  font-weight: 500;
}

.banner-member_money img {
  width: 50px;
  position: absolute;
  top: 50%;
  left: -10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner-member_btn button {
  margin-left: 18px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f24634;
  border: 2px solid #fff;
  color: #fff;
  font-size: 20px;
  -webkit-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15) inset;
          box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15) inset;
  line-height: 1.2;
  font-weight: 500;
  position: relative;
}

.banner-member_btn button .btn_changePic {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

@media screen and (max-width: 1199px) {
  .banner-member_form {
    width: 400px;
  }
}

@media screen and (max-width: 991px) {
  .banner-member {
    padding: 90px 0;
  }
  .banner-member_edit {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
  }
  .banner-member_info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .banner-member_money {
    margin: 0;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  .banner-member_form {
    width: calc(100% - 200px);
  }
}

@media screen and (max-width: 767px) {
  .banner-member_pic {
    width: 150px;
    height: 150px;
  }
  .banner-member_form {
    width: calc(100% - 150px);
    padding-left: 30px;
    padding-top: 15px;
  }
  .banner-member_form button {
    font-size: 18px;
  }
  .banner-member_input input {
    height: 40px;
  }
}

@media screen and (max-width: 575px) {
  .banner-member_btn button {
    width: 65px;
    height: 65px;
    font-size: 14px;
    margin-left: 10px;
  }
  .banner-member_info {
    display: block;
  }
  .banner-member_pic {
    margin: 0 auto 30px;
  }
  .banner-member_form {
    padding: 0;
    width: 100%;
  }
}

.banner_style {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
}

.tab-main {
  margin: 0 auto 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  border: 2px solid #f77548;
}

.tab-main a {
  display: block;
  padding: 10px 50px;
  font-size: 20px;
  border-radius: 100px;
  letter-spacing: 0.05em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.tab-main a.active {
  background: -webkit-gradient(linear, left bottom, left top, from(#ffb571), to(#f98752));
  background: linear-gradient(to top, #ffb571 0%, #f98752 100%);
  color: #fff;
  font-weight: 500;
  border: 3px solid #ffc850;
  -webkit-box-shadow: 0 5px 0 #fb7f37;
          box-shadow: 0 5px 0 #fb7f37;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.tab-main a:hover:not(.active) {
  color: #fb7b55;
}

@media screen and (max-width: 575px) {
  .tab-main a {
    padding: 10px 30px;
  }
}

.tab-member {
  max-width: 1040px;
  width: calc(100% - 40px);
  margin: 100px auto 0;
  padding: 0 100px;
  z-index: 0;
  position: absolute;
  width: 100%;
  bottom: 100%;
  left: 0;
}

.tab-member ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.tab-member ul li {
  width: 25%;
  padding-right: 15px;
}

.tab-member ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-radius: 15px 15px 0 0;
  background-color: #fff;
  color: #f77548;
  font-weight: 500;
  font-size: 26px;
  padding: 10px;
  border: 3px solid #f77548;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  text-align: center;
}

.tab-member ul li a.active {
  opacity: 1;
  border-color: #f77548 #f77548 #fff #f77548;
}

.tab-member ul li a:hover:not(.active) {
  padding-bottom: 20px;
}

.tab-member ul li a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: 7px 3px 0 #f77548;
          box-shadow: 7px 3px 0 #f77548;
  border-radius: 15px 15px 0 0;
  border: 3px solid transparent;
  z-index: -1;
}

@media screen and (max-width: 991px) {
  .tab-member {
    padding: 0 30px;
  }
  .tab-member ul li a {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .tab-member ul li {
    padding-right: 10px;
  }
}

@media screen and (max-width: 575px) {
  .tab-member {
    padding: 0 15px;
  }
  .tab-member ul li a {
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
  }
}

.treasure_list {
  margin-bottom: 60px;
}

.treasure_list_inner {
  padding-top: 50px;
  padding-bottom: 50px;
}

.treasure_list_inner .row {
  margin-left: -30px;
  margin-right: -30px;
}

.treasure_list_inner .row > div {
  padding-left: 30px;
  padding-right: 30px;
}

.treasure_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.treasure_list:nth-child(odd) {
  padding-left: calc((100vw - 1320px) / 2);
}

.treasure_list:nth-child(odd) .treasure_list_inner {
  padding-right: calc((100vw - 1320px) / 2);
  background: -webkit-gradient(linear, left top, right top, from(#fff2ee), color-stop(20%, #fff2ee), to(#ffddd2));
  background: linear-gradient(to right, #fff2ee 0%, #fff2ee 20%, #ffddd2 100%);
}

.treasure_list:nth-child(even) {
  padding-right: calc((100vw - 1320px) / 2);
}

.treasure_list:nth-child(even) .treasure_list_inner {
  padding-left: calc((100vw - 1320px) / 2);
  background: -webkit-gradient(linear, right top, left top, from(#fff2ee), color-stop(20%, #fff2ee), to(#ffddd2));
  background: linear-gradient(to left, #fff2ee 0%, #fff2ee 20%, #ffddd2 100%);
}

.treasure_pic {
  width: 40%;
  padding-bottom: calc(40% * 0.7);
  position: relative;
  -webkit-box-shadow: 5px 5px 0 #f77548;
          box-shadow: 5px 5px 0 #f77548;
}

.treasure_pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.treasure_text {
  width: 60%;
  padding-left: 30px;
}

.treasure_name {
  color: #e44d18;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.treasure_price {
  border-radius: 100px;
  background-color: #ffeecb;
  border: 2px solid #f77548;
  padding: 3px 25px 3px 40px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.treasure_price span {
  font-size: 18px;
  color: #f77548;
  font-family: 'Lato', sans-serif;
  display: block;
}

.treasure_price_pic {
  width: 45px;
  position: absolute;
  top: 50%;
  left: -10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.treasure_price_pic img {
  width: 100%;
}

.treasure_btn {
  margin-top: 20px;
  width: 100%;
  border-radius: 100px;
  padding: 8px;
  border: 3px solid #ffdc8f;
  -webkit-box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.26) inset, 3px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.26) inset, 3px 5px 0 rgba(0, 0, 0, 0.1);
  background: -webkit-gradient(linear, left bottom, left top, from(#f29a2d), to(#ff6000));
  background: linear-gradient(to top, #f29a2d 0%, #ff6000 100%);
  font-size: 20px;
  color: #fff;
}

.treasure_date {
  text-align: center;
  margin: 10px 0 0;
  color: #7a4c3e;
}

.treasure_name {
  margin-top: 80px;
}

.treasure_name_content {
  max-width: 1040px;
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background-color: #fdb900;
  position: relative;
  padding: 70px 20px 20px;
}

.treasure_name_inner {
  background-color: #fff;
  border-radius: 30px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 60px 30px 30px;
}

.treasure_name_time {
  position: absolute;
  font-family: 'Lato', sans-serif;
  background-color: #fdb900;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  border-radius: 30px;
  text-align: center;
  padding: 10px 20px;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, calc(-50% + 35px));
          transform: translate(-50%, calc(-50% + 35px));
  font-weight: 600;
}

.treasure_name_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  border-bottom: 1px dashed #c8c8c8;
}

.treasure_name_item:last-child {
  border-bottom: 0;
}

.treasure_name_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 150px);
}

.treasure_name_product_pic {
  width: 30%;
  padding-bottom: calc(30% * 0.7);
  position: relative;
}

.treasure_name_product_pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.treasure_name_product_text {
  width: 70%;
  padding-left: 20px;
}

.treasure_name_product_text h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.treasure_name_host {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.treasure_name_host_arrow {
  width: 20px;
}

.treasure_name_host_person {
  position: relative;
}

.treasure_name_host_person_pic {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid #fdcf3c;
  position: relative;
}

.treasure_name_host_person_pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.treasure_name_host_person_text {
  background-color: #ffeecb;
  border-radius: 10px;
  border: 1px solid #fc6a04;
  color: #e44d18;
  font-size: 14px;
  position: absolute;
  padding: 5px 20px;
  left: 50%;
  bottom: -10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .treasure_list {
    padding-left: 0;
  }
  .treasure_list_inner {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 991px) {
  .treasure_list {
    margin-bottom: 0;
  }
  .treasure_list_inner {
    background: none;
    padding-top: 0;
    padding-bottom: 0;
  }
  .treasure_list_inner .row {
    margin-left: 0;
    margin-right: 0;
  }
  .treasure_list_inner .row > div {
    padding-left: 0;
    padding-right: 0;
  }
  .treasure_list_item {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 575px) {
  .treasure_list_item {
    display: block;
  }
  .treasure_pic {
    width: 100%;
    padding-bottom: 70%;
    margin-bottom: 20px;
  }
  .treasure_text {
    width: 100%;
    padding-left: 0;
  }
  .treasure_name_content {
    padding: 50px 15px 15px;
  }
  .treasure_name_product {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .treasure_name_product_pic {
    width: 140px;
    padding-bottom: calc(140px * 0.7);
  }
  .treasure_name_product_text {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .treasure_name_inner {
    padding: 50px 20px 20px;
  }
  .treasure_name_time {
    font-size: 22px;
    -webkit-transform: translate(-50%, calc(-50% + 25px));
            transform: translate(-50%, calc(-50% + 25px));
  }
  .treasure_name_item {
    display: block;
  }
  .treasure_name_host {
    width: 100%;
    margin-top: 20px;
    display: block;
  }
  .treasure_name_host_arrow {
    display: block;
    margin: 0 auto 20px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .treasure_name_host_person_pic {
    margin: 0 auto;
  }
  .treasure_name_host_person_text {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media screen and (max-width: 450px) {
  .treasure_name_product {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: block;
  }
  .treasure_name_product_pic {
    width: 100%;
    padding-bottom: 70%;
  }
  .treasure_name_product_text {
    width: 100%;
    padding: 15px 0 0;
  }
}

.mb-footer {
  margin-bottom: 150px;
}

footer {
  background-color: #f77548;
  color: #fff;
  padding: 7px;
  text-align: center;
}

.introduce {
  max-width: 1040px;
  padding: 0 20px;
  margin: 100px auto 150px;
}

.introduce_item {
  position: relative;
  border: 3px solid #f24634;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 15px 15px 0 #ff965b;
          box-shadow: 15px 15px 0 #ff965b;
  margin-bottom: 100px;
}

.introduce_item_content {
  padding: 0 40px 30px;
}

.introduce_item p {
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 1.5;
  margin: 0;
}

.introduce_item h2 {
  background-color: #f24634;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  margin: 0;
  padding: 10px 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 100px;
  margin-left: 37px;
}

@media screen and (max-width: 575px) {
  .introduce_item_content {
    padding: 0 20px 30px;
  }
  .introduce_item p {
    font-size: 16px;
  }
  .introduce_item h2 {
    margin-left: 17px;
  }
}

.member_content {
  border-radius: 30px;
  background-color: #fff;
  border: 5px solid #f77548;
  padding: 75px 100px;
  max-width: 1040px;
  width: calc(100% - 40px);
  margin: 200px auto 150px;
  z-index: 10;
  position: relative;
}

@media screen and (max-width: 991px) {
  .member_content {
    border-radius: 20px;
  }
}

@media screen and (max-width: 767px) {
  .member_content {
    margin: 150px auto 100px;
    padding: 50px;
  }
}

@media screen and (max-width: 575px) {
  .member_content {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 450px) {
  .member_content {
    width: 100%;
    border-width: 3px;
  }
}

.member_lottery_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.member_lottery_item.notpay {
  cursor: pointer;
}

.member_lottery_item.notpay:hover .member_lottery_hover {
  opacity: 1;
}

.member_lottery_pic {
  width: 40%;
  padding-bottom: calc(40% * 0.7);
  position: relative;
}

.member_lottery_pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.member_lottery_tag {
  font-size: 14px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 10%;
  border-radius: 0 15px 15px 0;
  padding: 2px 10px;
}

.member_lottery_tag span.hover {
  opacity: 0;
}

.member_lottery_tag.finish {
  background-color: #fdb900;
}

.member_lottery_tag.notpay {
  background-color: #f24634;
}

.member_lottery_text {
  padding-left: 15px;
  width: 60%;
}

.member_lottery_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.member_lottery_title h3 {
  margin: 0;
  color: #e44d18;
  font-size: 20px;
  font-weight: 600;
}

.member_lottery_title p {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #e44d18;
}

.member_lottery_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.member_lottery_info ul li {
  font-size: 13px;
}

.member_lottery_info p {
  font-size: 14px;
  text-align: right;
  margin: 0;
}

.member_lottery_hover {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e44d18;
  color: #fff;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 450px) {
  .member_lottery_pic {
    width: 30%;
    padding-bottom: calc(30% * 0.7);
  }
  .member_lottery_text {
    width: 70%;
  }
  .member_lottery_title {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 370px) {
  .member_lottery_info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .member_lottery_info ul {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .member_lottery_info p {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
}

.member_saveMoney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 650px;
  margin: 0 auto;
  width: 100%;
}

.member_saveMoney label {
  font-size: 20px;
  color: #995300;
  width: 45px;
}

.member_saveMoney button {
  width: 135px;
  height: 45px;
  border: 100px;
  border: 2px solid #ffdc8f;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1) inset, 2px 2px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1) inset, 2px 2px 0 rgba(0, 0, 0, 0.1);
  background: -webkit-gradient(linear, left bottom, left top, from(#f29a2d), to(#ff6000));
  background: linear-gradient(to top, #f29a2d 0%, #ff6000 100%);
  color: #fff;
  font-size: 18px;
  border-radius: 100px;
}

.member_saveMoney input {
  width: calc(100% - 45px - 135px - 40px);
  height: 45px;
  border-radius: 100px;
  background-color: #ffe8c6;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1) inset;
}

@media screen and (max-width: 575px) {
  .member_saveMoney button {
    width: 100px;
  }
  .member_saveMoney input {
    width: calc(100% - 45px - 100px - 30px);
  }
}

.btn-keep {
  width: 135px;
  height: 45px;
  border: 100px;
  border: 2px solid #ffdc8f;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1) inset, 2px 2px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1) inset, 2px 2px 0 rgba(0, 0, 0, 0.1);
  background: -webkit-gradient(linear, left bottom, left top, from(#f29a2d), to(#ff6000));
  background: linear-gradient(to top, #f29a2d 0%, #ff6000 100%);
  color: #fff;
  font-size: 18px;
  border-radius: 100px;
}
/*# sourceMappingURL=style.css.map */